
@{
    ViewData["Title"] = "sytemIndex";
    Layout = "_NavAndFooter";
}


<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/car1.jpg); background-size: cover; ">

                    <div class="carousel-container">

                        <div class="carousel-content">
                            <a href="https://naqiwash.com/" title="نقي ووش - غسيل وتلميع سيارات متنقل" rel="home">
                                <img style="width: 100px ;height: 100px;" src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" class="header_logo header-logo" alt="نقي ووش" />
                            </a>
                            <h2 class="animate_animated animate_fadeInDown"> مرحبا بك في<span>  نقي ووش   </span></h2>

                            <p class="animate_animated animate_fadeInUp fw-bold">نحن نضمن لكم الحصول على خدمة ذات جودة عالية ودقة متناهية، وذلك بفضل خبرتنا الواسعة في مجال غسل وتلميع السيارات، واستخدامنا لأحدث المعدات والتقنيات العالمية لتلبية احتياجاتكم بأفضل الطرق الممكنة</p>
                            <a href="https://naqiwash.com/" class="btn-get-started animate_animated animate_fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(/assets/img/slide/coo1.jpg);  background-size: cover;">

                    <div class="carousel-container">
                        <div class="carousel-content">
                            <a href="https://naqiwash.com/" title="نقي ووش - غسيل وتلميع سيارات متنقل" rel="home">
                                <img style="width: 100px ;height: 100px;" src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" class="header_logo header-logo" alt="نقي ووش" />
                            </a>
                            <h2 class="animate_animated animate_fadeInDown">تنسيق <span>متقن</span></h2>
                            <p class="animate_animated animate_fadeInUp fw-bold">  شركتنا تتولى توصيلكم بفنيي الغسيل الماهرين الذين يضمنون لكم النظافة الكاملة والتفاصيل الدقيقة للسيارة، فنحن نجعل من عملية الغسيل والتلميع تجربة لا تنسى، وذلك بفضل احترافية فنيينا ودقة تنسيقنا</p>
                            <a href="https://naqiwash.com/" class="btn-get-started animate_animated animate_fadeInUp">تفاصيل</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(/assets/img/slide/car7.jpg);  background-size: cover;">

                    <div class="carousel-container">
                        <div class="carousel-content">
                            <a href="https://naqiwash.com/" title="نقي ووش - غسيل وتلميع سيارات متنقل" rel="home">
                                <img style="width: 100px ;height: 100px;" src="https://naqiwash.com/wp-content/uploads/2021/11/Untitled-1-copy-1024x1024.png" class="header_logo header-logo" alt="نقي ووش" />
                            </a>
                            <h2 class="animate_animated fanimate_adeInDown">تفاصيل <span>سيارتك</span>  تهمنا </h2>
                            <p class="animate_animated animate_fadeInUp fw-bold">.نحن نضمن لكم الحصول على خدمة فريدة ومميزة، وذلك بفضل جهود فريق الفني المتميز والمدرب على أعلى مستوى، والذي يعمل دائمًا على تلبية احتياجاتكم بكل دقة واحترافية</p>
                            <a href="https://naqiwash.com/" class="btn-get-started animate_animated animate_fadeInUp"> تفاصيل</a>
                        </div>
                    </div>
                </div>

            </div>

     @*       <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>*@

        </div>
    </div>
</section>

<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h3><a href="account/CallCenterRegistration"> قسم التواصل</a></h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h3><a href="account/CoordinatorRegistration">قسم التنسيق</a></h3>

                    </div>
                </div>

            </div>
            <div class="row" style="padding-top: 3%;">
                <div class="col-lg-6">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h3><a href=""> قسم الجوده</a></h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h3><a href="account/TechnicanRegistration">القسم الفني</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <!--
                  <div class="row" >
                    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                      <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="icon-box">
                          <i class="bi bi-card-checklist"></i>
                          <h3><a href=""> قسم الجوده</a></h3>
                          <p>Our collections are inspired by nature and the textures, colours and hand-drawn elements tell the unique story about who we are.</p>
                        </div>
                      </div>
                    </div>
               -->
    </section>
    <!-- End Featured Section -->
</main>
<!-- End #main -->
